.content {
    margin: calc(0px - 3.375rem / 2) auto 0;
    max-width: 46rem;
}

/*  */

.taskInfo {
    margin-top: 3.375rem;
}

.taskEmpty {
    border-top: 1.5px solid var(--gray-400);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.hold {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: .5rem;
}

.hold1 {
    font-weight: bold;
    color: var(--gray-300);
}

.hold2 {
    color: var(--gray-300);
}

.taskInfoHeader {
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    font-weight: bold;
    height: 1.188rem;
    justify-content: space-between;
}

.taskInfoCreated, .taskInfoDone {
    align-items: center;
    display: flex;
    gap: 0.625rem;
}

.taskCount {
    background-color: var(--gray-400);
    padding: 2px 8px;
    border-radius: 8px;
}

.taskCreated {
    color: var(--blue-light);
}

.taskDone {
    color: var(--purple-light);
}

.taskInfoContent {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
